node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*
.git
.gitignore
.vscode
.next
out
dist
tmp
.turbo
.DS_Store
coverage
playwright-report
test-results
.idea
Dockerfile
.dockerignore

