[Unit]
Description=Run the Caudals Docker cleanup every hour

[Timer]
OnCalendar=*-*-* *:30:00
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
