[Unit]
Description=Check Caudals host health every ten minutes

[Timer]
OnCalendar=*:0/10
RandomizedDelaySec=1min
Persistent=true

[Install]
WantedBy=timers.target
